@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Titillium Web', sans-serif;
}
/*body{
    overflow-x: hidden;
}*/
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

header{
    width: 100%;
    height: 25vh;
    background-color: #fff;
    background-size: cover;
}
.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.texto img{
    border: solid;
    box-shadow: 4px 4px grey;
}

.textos h1{
    border: solid;
    border-radius: 30%;
    box-shadow: 4px 4px grey;
    margin: 0px;
}

nav{
    padding-top: 1rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
}
.duoc{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    margin-left: 10px;
    transform: translateX(-100rem);
    animation: slideIn .5s forwards;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
}

nav ul li:nth-last-child(1){
    animation-delay: 0s;
}
nav ul li:nth-last-child(2){
    animation-delay: .5s;
}
nav ul li:nth-last-child(3){
    animation-delay: 1s;
}
nav ul li:nth-last-child(4){
    animation-delay: 1.5s;
}
nav ul li:nth-last-child(5){
    animation-delay: 2s;
}


nav ul li a{
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
}
nav ul li a:last-child{
    margin-right: 0;
}
nav ul li a::before,
nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(9, 83, 243);
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}

nav ul li a::before{
    top: 0;
    transform-origin:right; 
}
nav ul li a::after{
    bottom: 0;
}
nav ul li a:hover::before,
nav ul li a:hover::after{
    transform: scaleX(1);
}

@keyframes slideIn {
    from{

    }
    to{
        transform: translateX(0);
    }
}
/*-------------------------------------------------------*/

.main{
    background: #00aeff31;
}
#myCarousel{
    border-block-start: 4px solid #02abfa;
}
.tituloP{
    
    font-size: 25px;
    text-align: center;
    letter-spacing: 10px;
    color: #02abfa;
    font-weight: 600;
}
.titulosP{
    font-size: 24px;
    color: #02abfa;
    font-weight: 400;
    
}
.info2:hover {
    -webkit-transform:scale(0.6);transform:scale(0.9);    
}


@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.swing:hover
{
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

/*-------------------------------------------------------*/

/*{
   
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}*/
a{
    text-decoration: none;
}
.footer{
    width: 100%;
    height: auto;
    margin: auto;
    background: #272727;
    padding: 20px 0px; 
}

.footer-icons{
    width: 100%;
    height: auto;
    margin: auto;
}
.footer-icons ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-icons ul li{
    display: inline-block; 
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: #02abfa;
}
.footer-icons ul li a{
    color: rgb(253, 249, 4); 
    font-size: 25px;
    display: block;
}
.footer-icons ul li a i{
    line-height: 50px;
}
.footer-icons ul li:hover{
    background: rgba(241, 11, 211, 0.61);  
}



.footermenu{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 25px;
}
.footermenu ul{
    margin: 0px;
    padding: 0px;
    text-align: center; 
}
.footermenu ul li{
    display: inline-block;
    margin: 5px 20px; 
}
.footermenu ul li a{
    font-family: arial;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase; 
}
.footermenu ul li a:hover{
    color: rgb(253, 249, 4); 
}


.footermenudos{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 15px;
}
.footermenudos ul{
    margin: 0px;
    padding: 0px;
    text-align: center; 
}
.footermenudos ul li{
    display: inline-block;
    margin: 5px 20px; 
}
.footermenudos ul li a{
    font-family: arial;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px; 
    text-transform: uppercase; 
}
.footermenudos ul li a:hover{
    color: rgb(253, 249, 4); 
}


.footerbajo{
    width: 100%;
    height: auto;
    margin: auto;
    background: #02abfa;
    padding: 5px;    
}
.footerbajo p{
    font-family: arial;
    font-size: 16px;
    text-align: center;
    color: #fff;
    font-weight: 3x00;
    letter-spacing: 1px; 
}
.footerbajo p a{
    color: #fff;
}
.footerbajo p a:hover{
    color: rgb(253, 249, 4); 
}