{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block title %}<title>PañolContigo</title>{% endblock %}
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href= {% static 'css/swiper.min.css' %}>
  <link rel="stylesheet" href= {% static 'css/styleGaleria.css' %}>
  <link rel="icon" href={% static 'img/logo.jpg' %}>
  {% load static %}    
</head>

<body>
  <header>
    <div class="container">
      <nav>
        <h1 class="duoc"><a href="index.html"><img src={% static 'img/logo.jpg' %} alt="logoduoc"></a></h1>
        {% block sidebar %}
        <ul>
          <li><a href="http://127.0.0.1:8000/index">INICIO</a></li>
          <li><a href="http://127.0.0.1:8000/info">INFORMACION</a></li>
          <li><a href="http://127.0.0.1:8000/formulario">REGISTRO</a></li>
          <li><a href="http://127.0.0.1:8000/galeria">GALERIA</a></li>
          <li><a href="http://127.0.0.1:8000/we">Nosotros</a></li>
        </ul>
        {% endblock %}
      </nav>
    </div>
  </header>

 
    <div class="swiper-container">
      <br>
        <h2 class="titulo">
            Artículos Pañol
          </h2>
          <br><br>
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="img-Box">
                    <img src={% static 'img/basquet.jpg' %} alt="Balón basquetball">
                </div>
                <div class="descripcion">
                    <h3>Balón basquetball<br><span>4/10</span></h3>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="img-Box">
                    <img src={% static 'img/voley.jpg' %} alt="Balón voleyball">
                </div>
                <div class="descripcion">
                    <h3>Balón Voley<br><span>4/10</span></h3>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="img-Box">
                    <img src={% static 'img/tacataca.jpg' %} alt="Balón taca-taca">
                </div>
                <div class="descripcion">
                    <h3>Pelota Taca-Taca<br><span>4/10</span></h3>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-Box">
                    <img src={% static 'img/petofutbol.jpg' %} alt="Peto Futbol">
                </div>
                <div class="descripcion">
                    <h3>Peto Futbol<br><span>4/10</span></h3>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="img-Box">
                    <img src={% static 'img/paletas.jpg' %} alt="Paletas Ping-Pong">
                </div>
                <div class="descripcion">
                    <h3>Paleta Ping-Pong<br><span>4/10</span></h3>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-Box">
                    <img src={% static 'img/mallas.jpg' %} alt="Mallas Arco">
                </div>
                <div class="descripcion">
                    <h3>Mallas Arco<br><span>4/10</span></h3>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-Box">
                    <img src={% static 'img/futbol.jpg' %} alt="Balón Futbol">
                </div>
                <div class="descripcion">
                    <h3>Balón Futbol<br><span>4/10</span></h3>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="img-Box">
                    <img src={% static 'img/conos.jpg' %} alt="Conos">
                </div> 
                <div class="descripcion">
                    <h3>Conos<br><span>4/10</span></h3>
                </div>
            </div>
            
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <script type="text/javascript" src={% static 'js/swiper.min.js' %}></script> 
    <script>
        var swiper = new Swiper('.swiper-container', {
          effect: 'coverflow',
          grabCursor: true,
          centeredSlides: true,
          slidesPerView: 'auto',
          coverflowEffect: { 
            rotate: 50,
            stretch: 30,
            depth: 100,
            modifier: 3,
            slideShadows : true,
          },
          pagination: {
            el: '.swiper-pagination',
          },
        });
    </script>

    <div class="br">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>


    
  <div class="footer">

    <div class="footer-icons">
      <ul>
        <li><a href="https://es-la.facebook.com/DuocUC/" target="blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.whatsapp.com/" target="blank"><i class="fa fa-whatsapp"></i></a></li>
        <li><a href="https://cl.linkedin.com/company/duocuc" target="blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCnt0LJxzvDv1o4pOCOs143Q" target="blank"><i class="fa fa-youtube"></i></a></li>
      </ul> 
    </div>
    <div class="footermenu">
      <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="info.html">Información</a></li>
        <li><a href="formulario.html">Registro</a></li>
        <li><a href="galeria.html">Galeria</a></li>
        <li><a href="#">Nosotros</a></li>
      </ul>
    </div>

    <div class="footermenudos">
      <ul>
        <li><a href="https://campusvirtual.duoc.cl/webapps/login/">AVA</a></li>
        <li><a href="https://ssoprd.duoc.cl/auth/realms/WEB_APPS_PRD/protocol/openid-connect/auth?client_id=411f013c&nonce=478fd98899982560d93588527f22895e&redirect_uri=https%3A%2F%2Fexperienciavivo.duoc.cl%2Fauth%2Fopenidc%2Fcallback&response_type=code&scope=openid&state=40c84005a94b35133dddd082aee3aa6f">Alumno</a></li>
        <li><a href="http://www.duoc.cl/biblioteca/">Biblioteca</a></li>
        <li><a href="http://www.duoc.cl/pd/login">Docente</a></li>
      </ul>
    </div>
  </div>
  <div class="footerbajo">
    <p>DWYM 2DO SEMESTRE 2019<a href="https://www.duoc.cl/carrera/ingenieria-en-informatica"> Duoc UC Sede Maipú</a></p>
  </div>

</body>
</html>