{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block title %}<title>PañolContigo</title>{% endblock %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href= {% static 'css/styleBase.css' %}>
  <link rel="icon" href={% static 'img/logo.jpg' %}> 
  {% load static %}
</head>

<body> 
  <header>
    <div class="container">
      <nav>
        <h1 class="duoc"><a href="index.html"><img src={% static 'img/logo.jpg' %} alt="logoduoc"></a></h1>
        {% block sidebar %}
        <ul>
          <li><a href="http://127.0.0.1:8000/index">INICIO</a></li>
          <li><a href="http://127.0.0.1:8000/info">INFORMACION</a></li>
          <li><a href="http://127.0.0.1:8000/formulario">REGISTRO</a></li>
          <li><a href="http://127.0.0.1:8000/galeria">GALERIA</a></li>
          <li><a href="http://127.0.0.1:8000/we">Nosotros</a></li>
        </ul>
        {% endblock %}
      </nav>
    </div>
  </header>

    
	
	<main class="main">

    <center>
	 
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
        
          <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src={% static 'img/img1.jpg' %} alt="duoc">
          </div>
          <div class="item">
            <img src={% static 'img/img2.jpg' %} alt="duoc">
          </div>
          <div class="item">
            <img src={% static 'img/img3.jpg' %} alt="duoc">
          </div>
          <div class="item">
            <img src={% static 'img/img4.jpg' %} alt="duoc">
          </div>
          <div class="item">
            <img src={% static 'img/img5.jpg' %} alt="duoc">
          </div>
        </div>
    
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div> 
		</center>
    <br><br>
    <center> 
      <h1 class="tituloP"> PAÑOL CONTIGO </h1>   
      <br><br>
      <div>
        <h1 class="titulosP">Quiénes Somos</h1>
        <br>
        <div> 
          <p>Somos Estudiantes de la Carrera Ingeniería en Informática y nuestro objetivo se basa netamente en una nueva implementación</p>
          <p>para mejorar los servicios con los que cuenta la Institución específicamente el Pañol de Duoc UC Sede Maipú, en donde los alumnos</p> 
          <p>podrán solicitar algún artículo que necesiten mediante esta página que podrán encontrar vía online o mobile.</p>
          
        </div>
          
        <br>     
      </div>
      <div>
        <h1 class="titulosP">Misión y Visión</h1>
        
        <br>      
        <p>Misión:  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut hic rem voluptatuciis itaque perspiciatis delectus consequatur dolorum at explicabo enim voluptatibus incidunt!</p>
        <p>Visión:  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores laudantium nostrum, consequatur deserunt dolores, tenetur omnis blanditiis temporsectetur.</p>
        <br> 
        
      </div>
      <br>
      <a href="https://www.duoc.cl/deportes"><img class="info2" src={% static 'img/info2.jpg' %} alt="logoduoc" height="200px" width="700px"></a>
      <br><br><br><br>
      <h1 class="titulosP">VIDEOS DE INFORMACIÓN</h1>
      <br>
      <iframe class="swing" width="500" height="300" src="https://www.youtube.com/embed/BaXcUjIs5Sg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
      <iframe class="swing" width="500" height="300" src="https://www.youtube.com/embed/zle9qmyYLy8" frameborder="0"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
	  </center>
	
	 
  </main>
   
    
  <div class="footer">

    <div class="footer-icons">
      <ul>
        <li><a href="https://es-la.facebook.com/DuocUC/" target="blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.whatsapp.com/" target="blank"><i class="fa fa-whatsapp"></i></a></li>
        <li><a href="https://cl.linkedin.com/company/duocuc" target="blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCnt0LJxzvDv1o4pOCOs143Q" target="blank"><i class="fa fa-youtube"></i></a></li>
      </ul> 
    </div>
    <div class="footermenu">
      <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="info.html">Información</a></li>
        <li><a href="formulario.html">Registro</a></li>
        <li><a href="galeria.html">Galeria</a></li>
        <li><a href="#">Nosotros</a></li>
      </ul>
    </div>

    <div class="footermenudos">
      <ul>
        <li><a href="https://campusvirtual.duoc.cl/webapps/login/">AVA</a></li>
        <li><a href="https://ssoprd.duoc.cl/auth/realms/WEB_APPS_PRD/protocol/openid-connect/auth?client_id=411f013c&nonce=478fd98899982560d93588527f22895e&redirect_uri=https%3A%2F%2Fexperienciavivo.duoc.cl%2Fauth%2Fopenidc%2Fcallback&response_type=code&scope=openid&state=40c84005a94b35133dddd082aee3aa6f">Alumno</a></li>
        <li><a href="http://www.duoc.cl/biblioteca/">Biblioteca</a></li>
        <li><a href="http://www.duoc.cl/pd/login">Docente</a></li>
      </ul>
    </div>
  </div>
  <div class="footerbajo">
    <p>DWYM 2DO SEMESTRE 2019<a href="https://www.duoc.cl/carrera/ingenieria-en-informatica"> Duoc UC Sede Maipú</a></p>
  </div>
  {% block content %}{% endblock %}
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>